<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.wallpapersafari.com/desktop/1920/1080/77/47/6Uisej.jpg);">
  <div class="container">
    <h1>Lists</h1>
    <p>View and create your own lists!</p>
    <%= link_to "Create a new list", new_list_path, class: "btn btn-flat" %>
  </div>
</div>

<div class="container">

  <% @lists.each do |list| %>
    <div class="card-list my-3">
      <%# <% if list.photo.attached? %>
      <%= cl_image_tag list.photo.key, crop: :fill if list.photo.attached? %>
      <%# <% end %>
      <div class="card-list-infos">
        <%= link_to list.name, list_path(list) %>
      </div>
    </div>
  <% end %>

</div>
