<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key, crop: :fill if @list.photo.attached? %>');">
  <div class="container">
    <h1> <%= @list.name %> </h1>
    <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-flat my-3" %>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @list.bookmarks.each do |bookmark| %>
      <%= render 'lists/card_bookmark', bookmark: bookmark %>
    <% end %>
  </div>
</div>
