.card-bookmark {
  width: 28em;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-bookmark > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-bookmark h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-bookmark p {
  font-size: 12px;
  opacity: 0.7;
  margin: 0;
}

.card-bookmark .card-bookmark-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-list {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.card-list img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-list h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-list p {
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-list a {
  color: #c42911;
}

.card-list .card-list-infos {
  padding: 16px;
}

.card-bookmark-infos a {
  color: #c42911;
  font-size: 14px;
}

.card-bookmark-infos .rating {
  font-size: 16px;
  color: #5f5f5f;
}
